---
import Form from "@components/Form.astro";
import Input from "@components/Input.astro";
import { Mail, SendHorizontal } from "@lucide/astro";
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"footer"> {
	readonly className?: string | string[];
};
const { className, ...props } = Astro.props;
---

<footer class:list={twMerge(["reveal-group", className])} { ...props }>
	<div
		aria-hidden="true"
		class="no-reveal glass rounded-box absolute inset-0 pointer-events-none"
		style="--glass-opacity: 16%; --glass-blur: 1px; --glass-border-opacity: 16%; --glass-reflect-opacity: 1%;"
	/>
	<header class="mb-6">
		<h1 data-stagger={ 100 } class="text-4xl font-bold">
			Start Your Free
			<span class="text-primary" set:text="Trial Today" />
		</h1>
		<p data-stagger={ 200 } class="max-w-2xs mx-auto"><small>Unlock the full potential of your data with our comprehensive SaaS analytics platform.</small></p>
	</header>
	<Form
		data-stagger={ 300 }
		name="waitlistForm"
		action=""
		method="post"
		autocomplete="on"
		className="join">
		<Input
			id="FormEmail"
			type="email"
			name="email"
			title="Ingrese su email"
			placeholder="mail@site.com"
			inputmode="email"
			className="join-item"
			aria-label="Campo de email"
			aria-multiline="false"
			aria-autocomplete="inline"
			aria-placeholder="Ingrese su email"
			aria-required
			required>
			<Mail aria-label="Ícono de email" />
		</Input>
		<button
			aria-label="Enviar"
			type="submit"
			title="Enviar"
			class:list={[
				"btn btn-primary join-item w-fit group"
			]}>
			<SendHorizontal
				aria-label="Ícono enviar formulario"
				class:list={[
					"size-[1.5em] transition duration-150 ease-in-out",
					"group-hover:text-white"
				]}
			/>
		</button>
	</Form>
</footer>

<style>
	footer {
		background-image: url(../../assets/background.png);
		background-position: top center;
		background-repeat: no-repeat;
		background-clip: border-box;
		background-size: contain;
		background-size: max(100%, 40rem) auto;
		text-align: center;
		width: 90%;
		min-width: var(--container-xs);
		margin: 0 auto;
		padding: 4rem;
		border-radius: var(--radius-box);
		position: relative;
	}
</style>
