---
import TestimonialCard from "@components/TestimonialCard.astro";
import { twMerge } from "tailwind-merge";
import { testimonials } from "@data/main";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
	readonly className?: string | string[]; 
};
const { className, ...props } = Astro.props;
---

<section class:list={twMerge(["", className])} { ...props }>
	<header class="mb-12">
		<h1 class="text-primary text-center font-semibold mb-2">Testimonials</h1>
		<p class="text-primary-content text-center text-4xl font-bold max-w-2xl md:mx-auto">We have worked with thousands of amazing people</p>
	</header>
	<div role="list" aria-label="Testimonios">
		{testimonials.map(testimonial => <TestimonialCard { ...testimonial } />)}
	</div>
</section>