---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../layouts/Hero.astro";
import Marquee from "../components/Marquee.astro";
import Badge from "../components/Badge.astro";
import Card from "../components/Card.astro";
import FeatureHighlights from "../components/FeatureHighlights.astro";
import FeatureCard from "../components/FeatureCard.astro";

import { brands, softwareSolutions, featureSections } from "../data";
---

<Layout>
	<main class="min-h-[90svh]">
		<Navbar className="mt-4 mb-16 sm:mx-6"/>
		<Hero/>
	</main>
	<section aria-label="Empresas asociadas" class="mb-24">
		<h1 class="text-center text-lg">Partnering with top industry experts</h1>
		<Marquee brands={ brands } className="my-4"/>
	</section>
	<section aria-label="Soluciones de software">
		<header class="text-center [&_*]:mb-4">
			<Badge text="Take Full Control of Your Task" className="font-bold" />
			<h1 class="text-4xl font-medium md:text-5xl">Business
				<span class="text-primary block sm:inline">Application</span>
			</h1>
			<p class="text-lg">Our users love how Mondai CRM simplifies their processes and streamlines operations</p>
		</header>
		<div
			role="list"
			class:list={[
				"grid gap-y-4",
				"sm:grid-cols-2 sm:gap-x-4 sm:[&>div:last-child]:col-span-full",
				"md:grid-cols-3 md:[&>div:last-child]:col-span-1"
			]}>
			{ softwareSolutions.map(solution => <Card { ...solution } />) }
		</div>
	</section>
	<section aria-label="Funciones">
		{featureSections.map(({ highlights, features }, index) =>
			<FeatureHighlights { ...highlights } imageSrc="" imagePosition={ index % 2 === 0? "left" : "right" }>
				{features.map(feature =>
					<FeatureCard { ...feature } />
				)}
			</FeatureHighlights>
		)}
	</section>
</Layout>
