---
import Layout from "../layouts/Layout.astro";
import Hero from "../layouts/Hero.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
	<main class="min-h-svh">
		<Navbar className="mb-16"/>
		<Hero/>
	</main>
</Layout>