---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../layouts/Hero.astro";
import Marquee from "../components/Marquee.astro";
import Badge from "../components/Badge.astro";
import Card from "../components/Card.astro";
import type { Brand } from "../components/Marquee.astro";
import type { SoftwareSolution } from "../components/Card.astro";

const brands: ReadonlyArray<Brand> = [
	{ name: "Scalaty", logo: "/svg/logo1.svg" },
	{ name: "Astro", logo: "/svg/logo1.svg" },
	{ name: "Minecraft", logo: "/svg/logo1.svg" },
	{ name: "GitHub", logo: "/svg/logo1.svg" },
	{ name: "Mozilla", logo: "/svg/logo1.svg" },
	{ name: "marimari_en", logo: "/svg/logo1.svg" }
];

const softwareSolutions: ReadonlyArray<SoftwareSolution> = [
	{
		title: "Facturación electrónica",
		description: "Este es un texto de prueba.",
		icon: "Receipt"
	},
	{
		title: "Inteligencia artificial empresarial",
		description: "Este es un texto de prueba.",
		icon: "Brain"
	},
	{
		title: "Bases de datos y automatizaciones",
		description: "Este es un texto de prueba.",
		icon: "DatabaseZap"
	}
];
---

<Layout>
	<main class="min-h-[90svh]">
		<Navbar className="mt-4 mb-16 sm:mx-6"/>
		<Hero/>
	</main>
	<section aria-label="Empresas asociadas" class="mb-24">
		<h1 class="text-center text-lg">Partnering with top industry experts</h1>
		<Marquee brands={brands} className="my-4"/>
	</section>
	<section aria-label="Soluciones de software">
		<header class="text-center [&_*]:mb-4">
			<Badge text="Take Full Control of Your Task" className="font-bold" />
			<h1 class="text-4xl font-medium md:text-5xl">Business
				<span class="text-primary block sm:inline">Application</span>
			</h1>
			<p class="text-lg">Our users love how Mondai CRM simplifies their processes and streamlines operations</p>
		</header>
		<div role="list">
			{softwareSolutions.map(({ title, description, icon }) =>
				<Card title={ title } description={ description } icon={ icon } />
			)}
		</div>
	</section>
</Layout>