---
import LampTile from "./LampTile.astro";
import { Receipt, Brain, DatabaseZap } from "@lucide/astro";
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";

export interface SoftwareSolution {
	title: string;
	description: string;
	icon: "Receipt" | "Brain" | "DatabaseZap";
};

interface Props extends Readonly<SoftwareSolution>,
	Omit<HTMLAttributes<"div">, "title">{
		iconSize?: Readonly<number>;
		readonly className?: string | string[];
};
const { title, description, icon, iconSize = 28, className, ...rest } = Astro.props;
---

<div class:list={twMerge(["card bg-base-200", className])} {...rest}>
	<LampTile aria-label={ icon + "ícono"} className="ml-6">
		{ icon === "Receipt" && <Receipt size={ iconSize }/> }
		{ icon === "Brain" && <Brain size={ iconSize }/> }
		{ icon === "DatabaseZap" && <DatabaseZap size={ iconSize }/> }
	</LampTile>
	<article class="card-body">
		<h1 class="card-title" set:text={ title }/>
		<p set:text={ description }/>
	</article>
</div>