---
import { Image } from "astro:assets";
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";

export interface Highlights {
	feature: string;
	title: { first: string; highlight: string; };
	description: string;
};

interface Props extends Readonly<Highlights>,
	Omit<HTMLAttributes<"article">, "title"> {
		imageSrc?: Readonly<string>;
		imagePosition: Readonly<"right" | "left">;
		children: any;
		readonly className?: string | string[];
	};
const { feature, title, description, imageSrc, imagePosition, className, ...props } = Astro.props;
---

<article class:list={twMerge(["grid grid-rows-3 place-items-center lg:grid-cols-2 lg:grid-rows-2 lg:grid-flow-col", className])} { ...props }>
	<header class="text-center [&>*]:mb-6 md:text-left">
		<h1 class="text-primary text-sm font-semibold" set:text={ feature } />
		<h2 class="text-4xl font-semibold">
			{ title.first }
			<span class="text-primary" set:text={ title.highlight } />
		</h2>
		<p set:text={ description } />
	</header>
	<div role="list" class="[&>article]:mb-6">
		<slot />
	</div>
	<div class={`size-3/4 ${imagePosition === "left" && "lg:order-first"} lg:row-span-full bg-white`}>
		HOLA CRAYOLA
	</div>
</article>