---
import { Image } from "astro:assets";
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";

export interface Highlights {
	feature: string;
	title: { first: string; highlight: string; };
	description: string;
	imageSrc: string;
};

interface Props extends Readonly<Highlights>,
	Omit<HTMLAttributes<"article">, "title"> {
		imagePosition: Readonly<"right" | "left">;
		children: any;
		readonly className?: string | string[];
	};
const {
	feature,
	title,
	description,
	imageSrc,
	imagePosition,
	className,
	...props
} = Astro.props;
---

<article
	class:list={twMerge([
		"grid lg:grid-cols-2 lg:grid-rows-[auto_auto] lg:grid-flow-col",
		className
	])}
	{ ...props }>
	<header class="text-center font-semibold [&>*]:mb-6 md:text-left">
		<h1 class="text-primary text-sm" set:text={ feature } />
		<h2 class="text-4xl">
			{ title.first }
			<span class="text-primary" set:text={ title.highlight } />
		</h2>
		<p class="font-normal" set:text={ description } />
	</header>
	<div role="list" class="[&>article]:mb-6">
		<slot />
	</div>
	<div
		class:list={[
			"bg-white w-[90%] h-80 m-auto lg:size-[90%] lg:row-span-full",
			imagePosition === "left" && "lg:order-first"
		]}>
		{ imageSrc }
	</div>
</article>