---
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
	readonly className?: string | string[];
};
const { className, ...props } = Astro.props;
---

<div
	class:list={twMerge([
		"text-primary size-fit pt-2 grid place-content-center relative isolate",
		"before:bg-linear-to-r before:from-primary before:to-[#ffa67b]",
		"before:w-full before:h-0.5 before:rounded-full",
		"before:absolute before:inset-x-0 before:top-0 before:z-10",
		"before:will-change-[filter] before:brightness-105",
		"after:bg-transparent after:size-full after:absolute after:will-change-transform",
		className
	])}
	{ ...props }>
	<slot />
</div>

<style>
	div {
		--lamp-start: 5%;
		--lamp-end: calc(100% - var(--lamp-start));
		--light-height: 90%;
	}
	div::before {
		box-shadow: 0px 0px 2px 0.4px var(--color-primary);
	}
	div::after {
		box-shadow: 		0em 1em 1.2em -1em var(--color-primary) inset;
		-webkit-box-shadow: 0em 1em 1.2em -1em var(--color-primary) inset;
		-moz-box-shadow: 	0em 1em 1.2em -1em var(--color-primary) inset;
		clip-path: polygon(
			var(--lamp-start) 0%,
			var(--lamp-end) 0%,
			100% var(--light-height),
			0% var(--light-height)
		);
	}
</style>