<div
	class:list={[
		"text-primary size-fit pt-2 grid place-content-center relative isolate",
		"before:bg-linear-to-r before:from-primary before:to-[#ffa67b]",
		"before:w-full before:h-0.5 before:rounded-full",
		"before:absolute before:inset-x-0 before:top-0",
		"before:shadow-[0px_0px_2px_0.4px_var(--color-primary)] before:brightness-105",
		// "after:bg-linear-to-b after:from-primary after:from-0% after:to-transparent after:to-50%",
		// "after:will-change-[filter,transform] after:blur-sm after:opacity-90 after:drop-shadow-[0_14px_28px_rgba(255,140,64,0.28)] after:mix-blend-screen",
		// "after:[mask-image:radial-gradient(130%_90%_at_50%_-20%,#000_35%,transparent_78%)]",
		// "after:[-webkit-mask-image:radial-gradient(130%_90%_at_50%_-20%,#000_35%,transparent_78%)]",
		// "after:absolute after:size-full"
	]}>
	<slot />
</div>

<style>
	div {
		box-shadow: 		0em 1em 1.2em -1em var(--color-primary) inset;
		-webkit-box-shadow: 0em 1em 1.2em -1em var(--color-primary) inset;
		-moz-box-shadow: 	0em 1em 1.2em -1em var(--color-primary) inset;
	}
</style>