---
import Badge from "./Badge.astro";
import Card from "./Card.astro";
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";
import type { SoftwareSolution } from "./Card.astro";

interface Props extends HTMLAttributes<"section"> {
	solutions: ReadonlyArray<SoftwareSolution>;
	readonly className?: string | string[];
};
const { solutions, className, ...props } = Astro.props;
---

<header class:list={twMerge(["text-center [&_*]:mb-4", className])} { ...props }>
	<Badge text="Take Full Control of Your Task" className="font-bold" />
	<h1 class="text-4xl font-medium md:text-5xl">Business
		<span class="text-primary block sm:inline">Application</span>
	</h1>
	<p class="text-lg">Our users love how Mondai CRM simplifies their processes and streamlines operations</p>
</header>
<div
	role="list"
	class:list={[
		"grid gap-y-4",
		"sm:grid-cols-2 sm:gap-x-4 sm:[&>div:last-child]:col-span-full",
		"md:grid-cols-3 md:[&>div:last-child]:col-span-1"
	]}>
	{ solutions.map(solution => <Card { ...solution } />) }
</div>