---
import TestimonialCard from "./TestimonialCard.astro";
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";
import type { Testimonial } from "./TestimonialCard.astro";

interface Props extends HTMLAttributes<"section"> {
    testimonials?: ReadonlyArray<Testimonial>;
    readonly className?: string | string[]; 
};
const { testimonials, className, ...props } = Astro.props;
---

<section class:list={twMerge(["", className])} { ...props }>
    <header>
        <h1>Testimonials</h1>
        <p>We have worked with thousands of amazing people</p>
    </header>
    <div role="list" aria-label="Testimonios">

    </div>
</section>