---
import { Image } from "astro:assets";
import Avatar from "@components/Avatar.astro";
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";

interface Testimonial {
	cite: string;
	source: string;
};

interface Company {
	name: string;
	logo: string;
};

interface SocialNetwork {
	link: string;
	userName: string;
	profilePicture: string;
};

interface Author {
	name: string;
	social: SocialNetwork;
	company?: Company;
};

export interface TestimonialCard {
	testimonial: Testimonial;
	author: Author;
};

interface Props extends Readonly<TestimonialCard>,
	HTMLAttributes<"blockquote"> {
		readonly className?: string | string[];
	};
const {
	testimonial,
	author,
	className,
	...props
} = Astro.props;

const { cite, source } = testimonial;
const { name, social, company } = author;
const { link, userName, profilePicture } = social;

const avatarSize: Readonly<number> = 24;
const logoSize: Readonly<number> = 24;
---

<blockquote
	aria-label={ "Testimonio de " + name }
	cite={ source }
	class:list={twMerge([
		"bg-base-200 min-w-xs rounded-box ring ring-secondary/50",
		"first:[&>hr]:visible",
		className
	])}
	{ ...props }>
	<p class="text-lg font-semibold p-6 sm:text-xl sm:p-12" set:text={ "“" + cite + "”" } />
	<hr class="invisible border-secondary/50" />
	<div
		role="contentinfo"
		aria-label="Detalles del autor"
		class="box-content whitespace-nowrap px-6 py-4">
		<Avatar
			aria-label={ "Imagen de perfil de " + name }
			source={ profilePicture }
			alt={ "Imagen de perfil de " + name }
			size={ avatarSize }
			className="size-10 inline-block align-middle"
		/>
		<cite aria-label="Perfil de redes sociales" class="inline-block align-middle ml-2 [&>*]:block [&>*]:text-sm">
			<b aria-label="Nombre del autor" set:text={ name } />
			<a href={ link } set:text={ "@" + userName } />
		</cite>
		{company &&
			<figure
				aria-label={ "Logo de " + company.name }
				class="mt-4 [&>*]:inline-block [&>*]:align-middle xs:m-0 xs:float-right">
				<Image
					src={ company.logo }
					alt={ "Logo de " + company.name }
					width={ logoSize }
					height={ logoSize }
					quality="max"
				/>
				<figcaption class="text-lg font-medium" set:text={ company.name } />
			</figure>
		}
	</div>
</blockquote>