---
import { Image } from "astro:assets";
import Avatar from "@components/Avatar.astro";
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";

interface Testimonial {
	cite: string;
	source: string;
};

interface Company {
	name: string;
	logo: string;
};

interface SocialNetwork {
	link: string;
	userName: string;
	profilePicture: string;
};

interface Author {
	name: string;
	social: SocialNetwork;
	company?: Company;
};

export interface TestimonialCard {
	testimonial: Testimonial;
	author: Author;
};

interface Props extends Readonly<TestimonialCard>,
	HTMLAttributes<"blockquote"> {
		readonly className?: string | string[];
	};
const {
	testimonial,
	author,
	className,
	...props
} = Astro.props;

const { cite, source } = testimonial;
const { name, social, company } = author;
const { link, userName, profilePicture } = social;

const avatarSize: Readonly<number> = 24;
const logoSize: Readonly<number> = 24;
---

<blockquote
	aria-label={ "Testimonio de " + name }
	cite={ source }
	class:list={twMerge(["", className])}
	{ ...props }>
	<p class="" set:text={ "“" + cite + "”" } />
	<div role="contentinfo" aria-label="Detalles del autor">
		<Avatar
			aria-label={ "Imagen de perfil de " + name }
			source={ profilePicture }
			alt={ "Imagen de perfil de " + name }
			size={ avatarSize }
		/>
		<b aria-label="Nombre del autor" set:text={ name } />
		<cite aria-label="Perfil de redes sociales">
			<a href={ link } set:text={ "@" + userName } />
		</cite>
		{company &&
			<figure aria-label={ "Logo de " + company.name }>
				<Image
					src={ company.logo }
					alt={ "Logo de " + company.name }
					width={ logoSize }
					height={ logoSize }
					quality="max"
				/>
				<figcaption set:text={ company.name } />
			</figure>
		}
	</div>
</blockquote>