---
import Badge from "../components/Badge.astro";
import Button from "../components/Button.astro";
import { Zap } from "@lucide/astro";
---

<section class="hero">
	<header class="hero-content text-center flex-col">
		<Badge text="Take Full Control of Your Task"><Zap class="fill-primary stroke-0"/></Badge>
		<h1 class="text-4xl font-bold sm:text-4xl/12 md:text-5xl/14">
			Optimizamos la operación de tu empresa,
			<span class="block text-primary">para que opere en Piloto Automático</span>
		</h1>
		<p class="sm:text-lg"><small>Unlock the full potential of your data with our suite of analytics tools</small></p>
		<Button text="Únete a la waitlist" />
	</header>
</section>