---
import "../styles/global.css";
import { Font } from "astro:assets";

const { SITE } = import.meta.env;
const TITLE: Readonly<string> = "Scalaty Solutions";
const NAME: Readonly<string> = "Scalaty";
const DESCRIPTION: Readonly<string> = "Optimizamos la operación de tu empresa, para que opere en Piloto Automático";
const IMAGE: Readonly<string> = "/scalatyLogo.webp";
const IMAGE_ALT: Readonly<string> = "Scalaty logo";
const AUTHOR: Readonly<string> = "Vicente Javier Viera Guizar";
---

<!doctype html>
<html lang="es-SV">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{ NAME }</title>
		<meta name="author" content={ AUTHOR } />
		<meta name="description" content={ DESCRIPTION } />
		<link rel="canonical" href={ SITE } />

		<meta property="og:title" content={ TITLE } />
		<meta property="og:site_name" content={ NAME } />
		<meta property="og:description" content={ DESCRIPTION } />
		<meta property="og:image" content={ IMAGE } />
		<meta property="og:image:alt" content={ IMAGE_ALT } />
		<meta property="og:url" content={ SITE } />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_SV" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={ TITLE } />
		<meta name="twitter:description" content={ DESCRIPTION } />
		<meta name="twitter:image" content={ IMAGE } />
		<meta name="twitter:image:alt" content={ IMAGE_ALT } />

		<meta name="theme-color" content="#063E8B" />
		<link rel="icon" type="image/svg+xml" href="/scalatyLogo.ico" />

		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="index, follow" />
		<Font cssVariable="--font-pjs" preload />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body { font-family: var(--font-pjs); color: white; }
</style>
